.header {
  font-family: 'Gloria Hallelujah', cursive;
}

//=================api-selection-container=================
.api-selection {
  //display: inline-block;
  float: left;
  width: 33%;
}

.inner-api-selection {
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  margin: 0px auto;
}


.api-logo {
  height: 40px;
}


.dropdown-toggle {
  cursor: pointer;
}


//=================api-dropdowns=================
.dropdown-header {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  font-size: 22px;
}


.dropdown {
  display: inline-block;
  float: left;
  width: 33%;
  background-color: white;
  border-style: solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  //margin: -10px;
  padding-bottom: 30px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  height: 170px;
}

.dropdown.ng-hide {
  display: inline-block!important;
  visibility: hidden;
}


.pretty.inline {
  margin-right: 0px;
}


#aylien-dropdown {
  border-color: #b2d127;
}


#rosette-dropdown {
  border-color: #eb3e0f;
}

#meaningcloud-dropdown {
  border-color: #5b86b5;
}


.api-types-list {
  -moz-column-count: 2;
  //-moz-column-gap: 20px;
  -webkit-column-count: 2;
  //-webkit-column-gap: 20px;
  column-count: 2;
  //column-gap: 20px;
  list-style-type: none;
  padding-left: 0;
}


//=================convo-container=================
#convo-container {
  clear: left;
  height: 80vh;
  background-color: #a9aaa9;
  overflow: scroll;
}


.message {

  max-width: 400px;
  border-radius: 3px;

  p {
    padding: 10px;
  }

}


.aylien {
  background-color: #b2d127;
}

.rosette {
  background-color: #eb3e0f;
}


.user {
  background-color: #598bdc;
  margin-right: 0;
  margin-left: auto;
}


form {
  width: 100%;
}

//=================input-container=================
#input-container {

  position: relative;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 5px;

    &:focus {
      outline-width: 0;
    }

  }

  button {

    color: white;
    position: absolute;
    right: 15px;
    top: 5px;

    border: none;
    background: #598bdc;
    border-radius: 8px;
    padding: 2px 16px;

    &:hover {
      background-color: #c338a9;
      color: #fff;
      cursor: pointer;
    }

    &:focus {
      outline-width: 0;
    }

  }

}
