
.navbar-default .navbar-brand {

  color: #f9972c;
  font-family: 'Gloria Hallelujah', cursive;

}

.navbar-default .navbar-nav > li > a {
  color: #f9972c;
  font-family: 'Gloria Hallelujah', cursive;
}


.navbar-default {
  background-color: #9776c1;
}

.navbar {
  border-radius: 0;
}

.api-container {
  float: left;
  display: inline-block;
  width: 33%;
}


.api-title {
  display: inline;
}


.api-dropdown {
  list-style-type: none;
}


.api-results-container {
  float: left;
  display: inline-block;
  width: 33%;
}

.alert > p {
  text-align: center;
}
