<div id="about" class="table">


  <div id="summary" class="row">

    <div id="summary-header" class="col-xs-12">

      <h1>NLP ME</h1>

      <p>
        Welcome to NLP ME, a place where you can "chat" with natural language processing APIs.
      </p>

    </div>

    <div id= "summary-body" class="col-xs-12">
      <h4>What is natural language processing?</h4>

      <p>
        Natural language processing is a subfield of artifical intelligence that involves extracting meaning from text and spoken language. These days NLP is rapidly being adopted by companies to analyze all sorts of data from their customers. For instance, a company might use NLP to analyze tweets with their hashtag to see if people are saying good or bad things about their product.
      </p>

      <h4>What is an API?</h4>

      <p>
        An API, or an application programming interface, is a connection through which different pieces of software communicate. In the context of client-server web applications, the term often refers to a REST API, which is an interface that the client (your computer) can use to communicate with a server (a computer in the cloud which contains all of the application's data).
      </p>

      <h4>What is this website?</h4>

      <p>
        This is a web application that allows you to see what kind of data NLP APIs can extract from text. Use the <a href="#/chat">chat box</a> to see what any of the APIs listed below can figure out about what you type!
      </p>

    </div>

  </div>


  <div id="apis">

    <div class="row">
      <h3>APIs on this Site</h3>
    </div>

    <div class="row" id="top-api-row">
      <div class="col-xs-12 col-sm-6 aylien api-container">

        <div class="api-header">
          <img src="images/aylien-icon.png">
          <div id="aylien-logo-text">AYLIEN</div>
        </div>

        <div class="api-analyses">

          <h4>Analyses on this site.</h4>

          <b>Classify Analysis</b>
          <p>
            Extracts categories from your input.
          </p>

          <b>Sentiment Analysis</b>
          <p>
            Detects the polarity (positive or negative) and the subjectivity of your input.
          </p>

          <b>Concepts Analysis</b>
          <p>
            Extracts concepts from your input.
          </p>

          <b>Hashtags Analysis</b>
          <p>
            Extracts hashtags from your input.
          </p>

        </div>

        <div class="api-brand">
          <h5>Connect with Aylien!</h5>
          <div class="image-container">
            <a href="http://aylien.com/" target="_blank"><img src="images/aylien-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://www.facebook.com/aylieninc" target="_blank"><img src="images/facebook-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://twitter.com/_aylien" target="_blank"><img src="images/twitter-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://plus.google.com/+Aylien" target="_blank"><img src="images/googleplus-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://github.com/AYLIEN" target="_blank"><img src="images/github-icon.png"></a>
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 meaningcloud api-container">

        <div class="api-header">
          <img src="images/meaningcloud-logo.png">
        </div>

        <div class="api-analyses">

          <h4>Analyses on this site.</h4>

          <b>Classification Analysis</b>
          <p>
            Extracts categories from your input.
          </p>

          <b>Sentiment Analysis</b>
          <p>
            Rates the polarity (positive or negative), subjectivity, irony, and emotional agreement of your input.
          </p>

          <b>Topics Analysis</b>
          <p>
            Extracts topics from your input.
          </p>

        </div>

        <div class="api-brand">
          <h5>Connect with Meaning Cloud!</h5>
          <div class="image-container">
            <a href="https://www.meaningcloud.com/" target="_blank"><img src="images/meaningcloud-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://www.facebook.com/MeaningCloud" target="_blank"><img src="images/facebook-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://twitter.com/MeaningCloud" target="_blank"><img src="images/twitter-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://plus.google.com/+MeaningCloudAPI" target="_blank"><img src="images/googleplus-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://www.linkedin.com/company/meaningcloud" target="_blank"><img src="images/linkedin-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://www.youtube.com/channel/UCxZ5HyouT_xttwGDdCCoKzg" target="_blank"><img src="images/youtube-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://github.com/MeaningCloud" target="_blank"><img src="images/github-icon.png"></a>
          </div>
        </div>

      </div>

    </div>

    <div class="row">


      <div class="col-xs-12 col-sm-6 rosette api-container">

        <div class="api-header">
          <img src="images/rosette-logo.png">
        </div>

        <div class="api-analyses">

          <h4>Analyses on this site.</h4>

          <b>Categories Analysis</b>
          <p>
            Extracts categories from your input.
          </p>

          <b>Entities Analysis</b>
          <p>
            Extracts entities from your input.
          </p>

          <b>Sentiment Analysis</b>
          <p>
            Rates the sentiment of your input overall and the sentiment of each entity detected in your input.
          </p>

          <b>Relationships Analysis</b>
          <p>
            Detects relationships between different entities in your input.
          </p>

        </div>

        <div class="api-brand">
          <h5>Connect with Rosette!</h5>
          <div class="image-container">
            <a href="https://rosette.com/" target="_blank"><img src="images/rosette-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://twitter.com/rosetteapi" target="_blank"><img src="images/twitter-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://www.linkedin.com/company/basis-technology" target="_blank"><img src="images/linkedin-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://github.com/rosette-api" target="_blank"><img src="images/github-icon.png"></a>
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 indico api-container">

        <div class="api-header">
          <img src="images/indico-logo.png">
        </div>

        <div class="api-analyses">

          <h4>Analyses on this site.</h4>

          <b>Text Tags Analysis</b>
          <p>
            Rates the correlation of your input with 111 text tags (similar to categories).
          </p>

          <b>Sentiment Analysis</b>
          <p>
            Rates how positive or negative your input is.
          </p>

          <b>Personality Analysis</b>
          <p>
            Rates how strongly your input expresses openness, extraversion, agreeableness, and conscientiousness.
          </p>

          <b>People Analysis</b>
          <p>
            Detects people referenced in your input.
          </p>

          <b>Political Analysis</b>
          <p>
            Rates how much your input leans toward liberal, green, conservative, and libertarian political affiliations.
          </p>

          <b>Emotion Analysis</b>
          <p>
            Rates how much your input expresses anger, joy, fear, surprise, and sadness.
          </p>

        </div>

        <div class="api-brand">
          <h5>Connect with Indico!</h5>
          <div class="image-container">
            <a href="https://indico.io/" target="_blank"><img src="images/indico-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://www.facebook.com/indicoDataSolutions" target="_blank"><img src="images/facebook-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://twitter.com/indicodata" target="_blank"><img src="images/twitter-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://www.instagram.com/indicodata/" target="_blank"><img src="images/instagram-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://www.youtube.com/channel/UCGuUwm6PaPkeftGFmNOfTHw" target="_blank"><img src="images/youtube-icon.png"></a>
          </div>
          <div class="image-container">
            <a href="https://github.com/IndicoDataSolutions" target="_blank"><img src="images/github-icon.png"></a>
          </div>
        </div>

      </div>

    </div>



    <div class="col-xs-12" id="api-disclaimer">
      <h6>
        * Each of these APIs is great and offers a free account for anyone wanting to experiment with their services. Each offers different types of NLP analysis, and each of them have additional analyses not featured on this site.
      </h6>
    </div>

  </div>


  <div id="feedback" class="row">

    <div class="col-xs-12">

      <h3>Feedback</h3>
      <p>Would love to hear feedback anyone has for the app. Feel free to reach out below or on <a href="http://leosimmons.me" target="_blank">my website</a>. Source code <a href="https://github.com/lsimmons2/nlp-app" target="_blank">here</a>.
      </p>

    </div>

    <div class="col-xs-12">

      <form name="contactForm">
        <div class="form-group">
          <input class="form-control" placeholder="Name" type="text" ng-model="name" required />
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Email" type="email" ng-model="email" required />
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Message" ng-model="message" required></textarea>
        </div>
        <div class="form-group">
          <div id="submit-container">
            <input class="form-control btn" ng-click="feedback()" type="submit" />
          </div>
        </div>
      </form>

      <p id="feedback-success" ng-show="feedbackSuccess && !feedbackError">
        <span class="glyphicon glyphicon-ok"></span>
        Thanks for submitting feedback. I appreciate it!
      </p>

      <p id="feedback-error" ng-show="!feedbackSuccess && feedbackError">
        <span class="glyphicon glyphicon-remove"></span>
        Woops! Something went wrong submitting your feedback. Would appreciate it if you could email me at leooscar.simmons@gmail.com. Thanks!
      </p>

    </div>

  </div>


</div>
