
<div id="chat" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">

  <div id="selection-container">


    <div class="api-selection-container" id="aylien-selection-container" ng-click="aylien.view = !aylien.view">

      <div class="api-selection" id="aylien-selection">
        <img class="api-logo" src="images/aylien-icon.png">
        <span id="aylien-logo-text">AYLIEN</span>
        <span class="glyphicon glyphicon-chevron-down dropdown-toggle" ng-hide="aylien.view"></span>
        <span class="glyphicon glyphicon-chevron-up dropdown-toggle" ng-show="aylien.view"></span>
      </div>

    </div>


    <div class="api-selection-container" id="rosette-selection-container" ng-click="rosette.view = !rosette.view">

      <div class="api-selection" id="rosette-selection">
        <img class="api-logo" src="images/rosette-logo.png">
        <span class="glyphicon glyphicon-chevron-down dropdown-toggle" ng-hide="rosette.view"></span>
        <span class="glyphicon glyphicon-chevron-up dropdown-toggle" ng-show="rosette.view"></span>
      </div>

    </div>



    <div class="api-selection-container" id="indico-selection-container" ng-click="indico.view = !indico.view">

      <div class="api-selection" id="indico-selection">
        <img class="api-logo" src="images/indico-logo.png">
        <span class="glyphicon glyphicon-chevron-down dropdown-toggle" ng-hide="indico.view"></span>
        <span class="glyphicon glyphicon-chevron-up dropdown-toggle" ng-show="indico.view"></span>
      </div>

    </div>


    <div class="api-selection-container" id="meaningcloud-selection-container" ng-click="meaningcloud.view = !meaningcloud.view">

      <div class="api-selection" id="meaningcloud-selection">
        <img class="api-logo" src="images/meaningcloud-logo.png">
        <span class="glyphicon glyphicon-chevron-down dropdown-toggle" ng-hide="meaningcloud.view"></span>
        <span class="glyphicon glyphicon-chevron-up dropdown-toggle" ng-show="meaningcloud.view"></span>
      </div>

    </div>


  </div>




  <div id="dropdown-container">

    <!--=========  AYLIEN DROPDOWN =========-->
    <div class="dropdown" id="aylien-dropdown" ng-show="aylien.view">
      <h3 class="dropdown-header">Analysis Options</h3>
      <ul class="api-types-list">
        <li>
          <div tooltip-placement="right" tooltip-class="indico-tooltip" uib-tooltip="Produces confidence scores for different categories in your input.">Classify</div>
          <div class="api-checkbox cb1">
              <input type="checkbox" id="acb-classify" ng-model="aylien.types.classify">
              <label for="acb-classify"></label>
           </div>
        </li>
        <li>
          <div tooltip-placement="right" tooltip-class="indico-tooltip" uib-tooltip="Produces scores for the polarity and subjectivity your input expresses.">Sentiment</div>
          <div class="api-checkbox cb1">
              <input type="checkbox" id="acb-sentiment" ng-model="aylien.types.sentiment">
              <label for="acb-sentiment"></label>
           </div>
        </li>
        <li>
          <div tooltip-placement="top" tooltip-class="indico-tooltip" uib-tooltip="Extracts different concepts from your input.">Concepts</div>
          <div class="api-checkbox cb1">
              <input type="checkbox" id="acb-concepts" ng-model="aylien.types.concepts">
              <label for="acb-concepts"></label>
           </div>
        </li>
        <li>
          <div tooltip-placement="top" tooltip-class="indico-tooltip" uib-tooltip="Extracts different hashtags from your input.">Hashtags</div>
          <div class="api-checkbox cb1">
              <input type="checkbox" id="acb-hashtags" ng-model="aylien.types.hashtags">
              <label for="acb-hashtags"></label>
           </div>
        </li>
      </ul>
      <div class="un-select-all" ng-click="selectAll(aylien)">
        Select all
      </div>
      <div class="un-select-all" ng-click="unselectAll(aylien)">
        Unselect all
      </div>
    </div>

    <!--=========  ROSETTE DROPDOWN  =========-->
    <div class="dropdown" id="rosette-dropdown" ng-show="rosette.view">
      <h3 class="dropdown-header">Analysis Options</h3>
      <ul class="api-types-list">
        <li>
          <div tooltip-placement="top" tooltip-class="indico-tooltip" uib-tooltip="Extracts different categories from your input.">Categories</div>
          <div class="api-checkbox cb2">
              <input type="checkbox" id="rcb-categories" ng-model="rosette.types.categories">
              <label for="rcb-categories"></label>
           </div>
        </li>
        <li>
          <div tooltip-placement="top" tooltip-class="indico-tooltip" uib-tooltip="Extracts different entities from your input.">Entities</div>
          <div class="api-checkbox cb2">
              <input type="checkbox" id="rcb-entities" ng-model="rosette.types.entities">
              <label for="rcb-entities"></label>
           </div>
        </li>
        <li>
          <div tooltip-placement="top" tooltip-class="indico-tooltip" uib-tooltip="Produces a confidence score for whether the overall sentiment of your input is positive or negative and individual confidence scores for whether each detected entity is correlated with positive or negative sentiment.">Sentiment</div>
          <div class="api-checkbox cb2">
              <input type="checkbox" id="rcb-sentiment" ng-model="rosette.types.sentiment">
              <label for="rcb-sentiment"></label>
           </div>
        </li>
        <li>
          <div tooltip-placement="top" tooltip-class="indico-tooltip" uib-tooltip="Detects relationships between different entities in your input.">Relationships</div>
          <div class="api-checkbox cb2">
              <input type="checkbox" id="rcb-relationships" ng-model="rosette.types.relationships">
              <label for="rcb-relationships"></label>
           </div>
        </li>
      </ul>
      <div class="un-select-all" ng-click="selectAll(rosette)">
        Select all
      </div>
      <div class="un-select-all" ng-click="unselectAll(rosette)">
        Unselect all
      </div>
    </div>

    <!--=========  INDICO DROPDOWN  =========-->
    <div class="dropdown" id="indico-dropdown" ng-show="indico.view">
      <h3 class="dropdown-header">Analysis Options</h3>
      <ul class="api-types-list">
        <li>
          <div tooltip-placement="top" tooltip-class="indico-tooltip" uib-tooltip="Produces confidence scores for the correlation between 111 text tags (similar to categories) and your input.">Text Tags</div>
          <div class="api-checkbox cb3">
              <input type="checkbox" id="icb-texttags" ng-model="indico.types.texttags">
              <label for="icb-texttags"></label>
           </div>
        </li>
        <li>
          <div tooltip-placement="top" tooltip-class="indico-tooltip" uib-tooltip="Produces a sentiment score between 0 and 1 for your input. Above 0.5 indicates positive sentiment, below 0.5 indicates negative sentiment." >Sentiment</div>
          <div class="api-checkbox cb3">
              <input type="checkbox" id="icb-sentiment" ng-model="indico.types.sentiment">
              <label for="icb-sentiment"></label>
           </div>
        </li>
        <li>
          <div tooltip-placement="top" tooltip-class="indico-tooltip" uib-tooltip="Produces scores for how strongly your input expresses openness, extraversion, agreeableness, and conscientiousness." >Personality</div>
          <div class="api-checkbox cb3">
              <input type="checkbox" id="icb-personality" ng-model="indico.types.personality">
              <label for="icb-personality"></label>
           </div>
        </li>
        <li>
          <div tooltip-placement="top" tooltip-class="indico-tooltip" uib-tooltip="Extracts the people referenced in your input." >People</div>
          <div class="api-checkbox cb3">
              <input type="checkbox" id="icb-people" ng-model="indico.types.people">
              <label for="icb-people"></label>
           </div>
        </li>
        <li>
          <div tooltip-placement="top" tooltip-class="indico-tooltip" uib-tooltip="Produces scores that represent the likelihood that your input expresses a leaning to the liberal, green, conservative, and libertarian political affiliations." >Political</div>
          <div class="api-checkbox cb3">
              <input type="checkbox" id="icb-political" ng-model="indico.types.political">
              <label for="icb-political"></label>
           </div>
        </li>
        <li>
          <div tooltip-placement="top" tooltip-class="indico-tooltip" uib-tooltip="Produces scores for how much your input expresses anger, joy, fear, surprise, and sadness.">Emotion</div>
          <div class="api-checkbox cb3">
              <input type="checkbox" id="icb-emotion" ng-model="indico.types.emotion">
              <label for="icb-emotion"></label>
           </div>
        </li>
      </ul>
      <div class="un-select-all" ng-click="selectAll(indico)">
        Select all
      </div>
      <div class="un-select-all" ng-click="unselectAll(indico)">
        Unselect all
      </div>
    </div>

    <!--=========  MEANING CLOUD DROPDOWN  =========-->
    <div class="dropdown" id="meaningcloud-dropdown" ng-show="meaningcloud.view">
      <h3 class="dropdown-header">Analysis Options</h3>
      <ul class="api-types-list">
        <li>
          <div tooltip-placement="top" tooltip-class="meaningcloud-tooltip" uib-tooltip="Extracts categories in your input." >Classification</div>
          <div class="api-checkbox cb4">
              <input type="checkbox" id="mccb-classification" ng-model="meaningcloud.types.classification">
              <label for="mccb-classification"></label>
           </div>
        </li>
        <li>
          <div tooltip-placement="top" tooltip-class="meaningcloud-tooltip" uib-tooltip="Detects the polarity, subjectivity, irony, and emotional agreement in your input.">Sentiment</div>
          <div class="api-checkbox cb4">
              <input type="checkbox" id="mccb-sentiment" ng-model="meaningcloud.types.sentiment">
              <label for="mccb-sentiment"></label>
           </div>
        </li>
        <li>
          <div tooltip-placement="top" tooltip-class="meaningcloud-tooltip" uib-tooltip="Extracts the topics in your input.">Topics</div>
          <div class="api-checkbox cb4">
              <input type="checkbox" id="mccb-topics" ng-model="meaningcloud.types.topics">
              <label for="mccb-topics"></label>
           </div>
        </li>
        <li>
          <div>
            &nbsp;
          </div>
        </li>
      </ul>
      <div class="un-select-all" ng-click="selectAll(meaningcloud)">
        Select all
      </div>
      <div class="un-select-all" ng-click="unselectAll(meaningcloud)">
        Unselect all
      </div>
    </div>

  </div>





  <div id="convo-container" scroll-bottom="convo">

    <p id="to-begin">To begin, select some of the analyses in the dropdowns above and see what they can figure out about your input.</p>


    <div  ng-repeat="message in convo track by $index">


      <!--=========  USER MESSAGE  =========-->
      <div class="user-message-container" ng-if="message.who === 'user'">
        <div class="message user">
            <span class="outer-triangle"> </span>
            <span class="inner-triangle"> </span>
            <p>{{message.text}}</p>
        </div>
      </div>


      <!--=========  AYLIEN MESSAGE  =========-->

      <img class="avatar" ng-if="message.who !== 'user'" ng-src="{{'images/' + message.who + '-icon.png'}}">


      <div class="message aylien" ng-if="message.who === 'aylien'" ng-show="message.view === 'json'">

        <span class="outer-triangle"> </span>
        <span class="inner-triangle"> </span>

        <div class="message-header">
          <strong class="data">Analyses of your input in JSON</strong><span class="json-link"> - <a ng-click="message.view = 'pretty'">view in English</a></span>
        </div>

        <div ng-repeat="(type, analysis) in message.analyses">
          <h5>{{type | cap}}</h5>
          <pre>{{analysis | json}}</pre>
        </div>
      </div>

      <div class="message aylien" ng-if="message.who === 'aylien' && message.error">
        <span class="outer-triangle"> </span>
        <span class="inner-triangle"> </span>
        <div class="message-header">
          <strong class="data">Woops! There was an error analyzing your input. Please try again later.</strong>
        </div>
      </div>


      <div class="message aylien" ng-if="message.who === 'aylien' && !message.error" ng-show="message.view === 'pretty'">


        <span class="outer-triangle"> </span>
        <span class="inner-triangle"> </span>

        <div class="message-header">
          <strong>Hello! Here are my analyses of your input</strong><span class="json-link"> - <a ng-click="message.view = 'json'">view in JSON</a></span>
        </div>

        <div ng-if="message.analyses.classify">
          <h5>Classify</h5>
          <p ng-if="message.analyses.classify.categories.length">
            I'm
            <span ng-repeat="category in message.analyses.classify.categories track by $index">
              <span ng-if="$last && message.analyses.classify.categories.length > 1">and</span>
              <strong class="data">{{ category.score | perc }}%</strong>
              confident that
              <strong class="data">{{category.label}}</strong>
              is a category
              <span class="comma-period" ng-if="!$last">,</span>
              <span class="comma-period" ng-if="$last">.</span>
            </span>
          </p>
          <p ng-if="!message.analyses.classify.categories.length">
            No categories could be extracted from your input.
          </p>
        </div>

        <div ng-if="message.analyses.sentiment">
          <h5>Sentiment</h5>
          <p>
            I'm
            <strong class="data">{{ message.analyses.sentiment.subjectivity_confidence | perc }}%</strong>
            confident that the subjectivity is
            <strong class="data">{{message.analyses.sentiment.subjectivity}}</strong>
            and
            <strong class="data">{{ message.analyses.sentiment.polarity_confidence | perc }}%</strong>
            confident that the polarity is
            <strong class="data">{{message.analyses.sentiment.polarity}}</strong>
            <span class="comma-period">.</span>
          </p>
        </div>

        <div ng-if="message.analyses.concepts.concepts">
          <h5>Concepts</h5>

          <p ng-if="keys(message.analyses.concepts.concepts).length === 0">
            No concepts could be extracted from your input.
          </p>

          <p ng-if="keys(message.analyses.concepts.concepts).length === 1">
            The only concept I could find was
            <strong ng-repeat="(key, value) in message.analyses.concepts.concepts">
              <a ng-href="{{key}}" target="_blank">{{value.surfaceForms[0].string}}</a>
            </strong>
            <span class="comma-period">.</span>
          </p>

          <p ng-if="keys(message.analyses.concepts.concepts).length > 1">
            The concepts I found were
            <span ng-repeat="(key, value) in message.analyses.concepts.concepts">
              <span ng-if="$last">and</span>
              <strong class="data">
                <a ng-href="{{key}}" target="_blank">{{value.surfaceForms[0].string}}</a>
              </strong>
              <span class="comma-period" ng-if="!$last">,</span>
              <span class="comma-period" ng-if="$last">.</span>
            </span>
          </p>
        </div>

        <div ng-if="message.analyses.hashtags.hashtags">
          <h5>Hashtags</h5>
          <p ng-if="!message.analyses.hashtags.hashtags.length">
            No hashtags could be extracted from your input.
          </p>
            <p ng-if="message.analyses.hashtags.hashtags.length === 1">
              The only hashtag I could find was
              <strong class="data">
                {{message.analyses.hashtags.hashtags[0]}}
              </strong>
              <span class="comma-period">.</span>
            </p>
            <p ng-if="message.analyses.hashtags.hashtags.length > 1">
              The hashtags I found were
              <span ng-repeat="hashtag in message.analyses.hashtags.hashtags track by $index">
                <span ng-if="$last">and</span>
                <strong class="data">
                  {{hashtag}}
                </strong>
                <span class="comma-period" ng-if="!$last">,</span>
                <span class="comma-period" ng-if="$last">.</span>
              </span>
            </p>
        </div>

        <div ng-if="message.errors.length">
          <h5>Errors</h5>
            <p ng-if="message.errors.length === 1">
              Error retrieving the <strong class="data">{{message.errors[0]}}</strong> analysis.
            </p>
            <p ng-if="message.errors.length > 1">
              Error retriveing the
              <span ng-repeat="error in message.errors track by $index">
                <span ng-if="$last">and</span>
                <strong class="data">{{error}}</strong>
                <span class="comma-period" ng-if="!$last">,</span>
              </span>
              analyses.
            </p>
        </div>

      </div>


      <!--=========  ROSETTE MESSAGE  =========-->

      <div class="message rosette" ng-if="message.who === 'rosette'" ng-show="message.view === 'json'">
        <span class="outer-triangle"> </span>
        <span class="inner-triangle"> </span>
        <div class="message-header">
          <strong class="data">Analyses of your input in JSON</strong><span class="json-link"> - <a ng-click="message.view = 'pretty'">view in English</a></span>
        </div>
        <div ng-repeat="(type, analysis) in message.analyses">
          <h5>{{type | cap}}</h5>
          <pre>{{analysis | json}}</pre>
        </div>
      </div>

      <div class="message rosette" ng-if="message.who === 'rosette' && message.error">
        <span class="outer-triangle"> </span>
        <span class="inner-triangle"> </span>
        <div class="message-header">
          <strong class="data">Woops! There was an error analyzing your input. Please try again later.</strong>
        </div>
      </div>

      <div class="message rosette" ng-if="message.who === 'rosette' && !message.error" ng-show="message.view === 'pretty'">
        <span class="outer-triangle"> </span>
        <span class="inner-triangle"> </span>

        <div class="message-header">
          <strong>Hey! Here are my analyses of your input</strong><span class="json-link"> - <a ng-click="message.view = 'json'">view in JSON</a></span>
        </div>

        <div ng-if="message.analyses.categories">
          <h5>Categories</h5>
          <p ng-if="message.analyses.categories.categories.length">
            I'm
            <span ng-repeat="category in message.analyses.categories.categories track by $index">
              <span ng-if="$last && message.analyses.categories.categories.length > 1">and</span>
              <strong class="data">{{ category.confidence | perc }}%</strong>
              confident that
              <strong class="data">{{category.label}}</strong>
              is a category
              <span class="comma-period" ng-if="!$last && message.analyses.categories.categories.length > 2">,</span>
              <span class="comma-period" ng-if="$last">.</span>
            </span>
          </p>
          <p ng-if="!message.analyses.categories.categories.length">
            No categories could be extracted from your input.
          </p>
        </div>


        <div ng-if="message.analyses.sentiment">
          <h5>Sentiment</h5>
          <p>
            I'm
            <strong class="data">{{ message.analyses.sentiment.document.confidence | perc }}%</strong>
            confident that the overall sentiment is
            <strong class="data">{{ message.analyses.sentiment.document.label | rosetteSentiment }}</strong>
            <span class="comma-period">.</span>
            <span ng-if="message.analyses.sentiment.entities.length">
              I'm also
              <span ng-repeat="entity in message.analyses.sentiment.entities">
                <span ng-if="$last && message.analyses.sentiment.entities.length > 1">and</span>
                <strong class="data">{{ entity.sentiment.confidence | perc }}%</strong> confident that the entity, <strong class="data">{{entity.mention}}</strong>, has a sentiment of <strong class="data">{{ entity.sentiment.label | rosetteSentiment }}</strong>
                <span class="comma-period" ng-if="!$last && message.analyses.sentiment.entities.length > 2">,</span>
                <span class="comma-period" ng-if="$last">.</span>
              </span>
            </span>
          </p>
        </div>


        <div ng-if="message.analyses.relationships">
          <h5>Relationships</h5>
          <p ng-if="message.analyses.relationships.relationships.length">
            <span ng-repeat="relationship in message.analyses.relationships.relationships track by $index">
              <span ng-if="$last && message.analyses.relationships.relationships.length > 2">Lastly, </span>
              I'm
              <span ng-if="$last && message.analyses.relationships.relationships.length === 2">also</span>
              <strong class="data">{{ relationship.confidence | perc }}%</strong>
              confident that the the arguments
              <strong class="data">{{relationship.arg1}}</strong>
              and <strong class="data">{{relationship.arg2}}</strong>
              are related with the predicate
              <strong class="data">{{relationship.predicate}}</strong>.
            </span>
          </p>
          <p ng-if="!message.analyses.relationships.relationships.length">
            I couldn't find any relationships in your input.
          </p>
        </div>


        <div ng-if="message.analyses.entities">
          <h5>Entities</h5>
          <p ng-if="!message.analyses.entities.entities.length">
            No entities could be extracted from your input.
          </p>
          <p ng-if="message.analyses.entities.entities.length === 1">
            The only entity I could find was
            <strong class="data">
              {{message.analyses.entities.entities[0].mention}}
            </strong>
            <span class="comma-period">.</span>
          </p>
          <p ng-if="message.analyses.entities.entities.length > 1">
            The entities I found were
            <span ng-repeat="entity in message.analyses.entities.entities track by $index">
              <span ng-if="$last">and</span>
              <strong class="data">
                {{entity.mention}}
              </strong>
              <span class="comma-period" ng-if="!$last">,</span>
              <span class="comma-period" ng-if="$last">.</span>
            </span>
          </p>
        </div>


        <div ng-if="message.errors.length">
          <h5>Errors</h5>
            <p ng-if="message.errors.length === 1">
              Error retrieving the <strong class="data">{{message.errors[0]}}</strong> analysis.
            </p>
            <p ng-if="message.errors.length > 1">
              Error retrieving the
              <span ng-repeat="error in message.errors track by $index">
                <span ng-if="$last">and</span>
                <strong class="data">{{error}}</strong>
                <span class="comma-period" ng-if="!$last">,</span>
              </span>
              analyses.
            </p>
        </div>

      </div>


      <!--=========  INDICO MESSAGE  =========-->
      <div class="message indico" ng-if="message.who === 'indico'" ng-show="message.view === 'json'">
        <span class="outer-triangle"> </span>
        <span class="inner-triangle"> </span>
        <div class="message-header">
          <strong class="data">Analyses of your input in JSON</strong><span class="json-link"> - <a ng-click="message.view = 'pretty'">view in English</a></span>
        </div>
        <div ng-repeat="(type, analysis) in message.analyses">
          <h5>{{type | cap}}</h5>
          <pre>{{analysis | json}}</pre>
        </div>
      </div>

      <div class="message indico" ng-if="message.who === 'indico' && message.error">
        <span class="outer-triangle"> </span>
        <span class="inner-triangle"> </span>
        <div class="message-header">
          <strong class="data">Woops! There was an error analyzing your input. Please try again later.</strong>
        </div>
      </div>

      <div class="message indico" ng-if="message.who === 'indico' && !message.error" ng-show="message.view === 'pretty'">
        <span class="outer-triangle"> </span>
        <span class="inner-triangle"> </span>

        <div class="message-header">
          <strong>Hi! Here are my analyses of your input</strong><span class="json-link"> - <a ng-click="message.view = 'json'">view in JSON</a></span>
        </div>


        <div class="texttags" ng-if="message.analyses.texttags" ng-class="{ onlytexttags: keys(message.analyses).length === 1 && !message.errors.length}">
          <h5>Text Tags</h5>
          <span ng-click="showTexttags($event)"> - see all 111 text tags</span>
          <span ng-click="hideTexttags($event)"> - hide text tags</span>
          <ul>
            <li ng-repeat="(texttag, confidence) in message.analyses.texttags.results">
              {{texttag}}: {{confidence}}
            </li>
          </ul>
        </div>


        <div ng-if="message.analyses.sentiment">
          <h5>Sentiment</h5>
          <p>
            On a scale of 0 to 1, 0 being negative and 1 being positive,
            I rate your sentiment as <strong class="data">{{ message.analyses.sentiment.results | oneToTen }}</strong>.
          </p>
        </div>


        <div ng-if="message.analyses.personality">
          <h5>Personality</h5>
          <p>
            On a scale of 0 to 1, I rate
            <span ng-repeat="(sentiment, score) in message.analyses.personality.results">
              <span ng-if="$last && keys(message.analyses.personality.results).length > 1">and</span>
              <span>your</span>
              <strong class="data">{{sentiment}}</strong> as <strong class="data">{{ score | oneToTen }}</strong>
              <span class="comma-period" ng-if="!$last">,</span>
              <span class="comma-period" ng-if="$last">.</span>
            </span>
          </p>
        </div>


        <div ng-if="message.analyses.people">
          <h5>People</h5>
          <p ng-if="!message.analyses.people.results.length">
            Couldn't find any people in your input. Sorry!
          </p>
          <p ng-if="message.analyses.people.results.length === 1">
            The only person I could find was <strong>{{message.analyses.people.results[0].text}}</strong>
          </p>
          <p ng-if="message.analyses.people.results.length > 1">
            The people I found were
            <span ng-repeat="person in message.analyses.people.results track by $index">
              <span ng-if="$last">and</span>
              <strong class="data">{{person.text}}</strong>
              <span class="comma-period" ng-if="!$last && message.analyses.people.results.length > 2">,</span>
              <span class="comma-period" ng-if="$last">.</span>
            </span>
          </p>
        </div>

        <div ng-if="message.analyses.political">
          <h5>Political</h5>
          <p>
            On a scale of 0 to 1, I rate
            <span ng-repeat="(affiliation, score) in message.analyses.political.results">
              <span ng-if="$last && keys(message.analyses.political.results).length > 1">and</span>
              <span>your</span>
              <strong class="data">{{affiliation}}</strong> affiliation as <strong class="data">{{ score | oneToTen }}</strong>
              <span class="comma-period" ng-if="!$last">,</span>
              <span class="comma-period" ng-if="$last">.</span>
            </span>
          </p>
        </div>

        <div ng-if="message.analyses.emotion">
          <h5>Emotion</h5>
          <p>
            On a scale of 0 to 1, I rate
            <span ng-repeat="(emotion, score) in message.analyses.emotion.results">
              <span ng-if="$last && keys(message.analyses.emotion.results).length > 1">and</span>
              <span>your</span>
              <strong class="data">{{emotion}}</strong> as <strong class="data">{{ score | oneToTen }}</strong>
              <span class="comma-period" ng-if="!$last">,</span>
              <span class="comma-period" ng-if="$last">.</span>
            </span>
          </p>
        </div>

        <div ng-if="message.errors.length">
          <h5>Errors</h5>
            <p ng-if="message.errors.length === 1">
              Error retrieving the <strong class="data">{{message.errors[0]}}</strong> analysis.
            </p>
            <p ng-if="message.errors.length > 1">
              Error retrieving the
              <span ng-repeat="error in message.errors track by $index">
                <span ng-if="$last">and</span>
                <strong class="data">{{error}}</strong>
                <span class="comma-period" ng-if="!$last">,</span>
              </span>
              analyses.
            </p>
        </div>

      </div>


      <!--=========  MEANING CLOUD MESSAGE  =========-->
      <div class="message meaningcloud" ng-if="message.who === 'meaningcloud'" ng-show="message.view === 'json'">
        <span class="outer-triangle"> </span>
        <span class="inner-triangle"> </span>
        <div class="message-header">
          <strong class="data">Analyses of your input in JSON</strong><span class="json-link"> - <a ng-click="message.view = 'pretty'">view in English</a></span>
        </div>
        <div ng-repeat="(type, analysis) in message.analyses">
          <h5>{{type | cap}}</h5>
          <pre>{{analysis | json}}</pre>
        </div>
      </div>

      <div class="message meaningcloud" ng-if="message.who === 'meaningcloud' && message.error">
        <span class="outer-triangle"> </span>
        <span class="inner-triangle"> </span>
        <div class="message-header">
          <strong class="data">Woops! There was an error analyzing your input. Please try again later.</strong>
        </div>
      </div>

      <div class="message meaningcloud" ng-if="message.who === 'meaningcloud' && !message.error" ng-show="message.view === 'pretty'">
        <span class="outer-triangle"> </span>
        <span class="inner-triangle"> </span>

        <div class="message-header">
          <strong>Howdy! Here are my analyses of your input</strong><span class="json-link"> - <a ng-click="message.view = 'json'">view in JSON</a></span>
        </div>

        <div ng-if="message.analyses.topics">
          <h5>Topics</h5>
          <p ng-if="!message.analyses.topics.concept_list.length">
            Couldn't find any topics in your input. Sorry!
            <strong class="data">{{message.analyses.topics.concept_list[0].form}}</strong>.
          </p>
          <p ng-if="message.analyses.topics.concept_list.length === 1">
            The only topic I could find was
            <strong class="data">{{message.analyses.topics.concept_list[0].form}}</strong>.
          </p>
          <p ng-if="message.analyses.topics.concept_list.length > 1">
            The topics I found were
            <span ng-repeat="concept in message.analyses.topics.concept_list track by $index">
              <span ng-if="$last">and</span>
              <strong class="data">{{concept.form}}</strong>
              <span class="comma-period" ng-if="!$last && message.analyses.topics.concept_list.length > 2">,</span>
              <span class="comma-period" ng-if="$last">.</span>
            </span>
          </p>
        </div>

        <div ng-if="message.analyses.sentiment">
          <h5>Sentiment</h5>
          <p>
            I calculated the subjectivity to be
            <strong class="data">{{message.analyses.sentiment.subjectivity}}</strong>
            and the irony to be
            <strong class="data">{{message.analyses.sentiment.irony}}</strong>.
          </p>
        </div>


        <div ng-if="message.analyses.classification">
          <h5>Classification</h5>
          <p ng-if="!message.analyses.classification.category_list.length">
            I couldn't find any categories. Sorry!
          </p>
          <p ng-if="message.analyses.classification.category_list.length === 1">
            The only category I could find was
            <strong class="data">{{message.analyses.classification.category_list[0].label}}.</strong>
          <p ng-if="message.analyses.classification.category_list.length > 1">
            The categories I could find in your input were
            <span ng-repeat="category in message.analyses.classification.category_list track by $index">
              <span ng-if="$last">and</span>
              <strong class="data">{{category.label}}</strong>
              <span class="comma-period" ng-if="!$last && message.analyses.classification.category_list.length > 2">,</span>
              <span class="comma-period" ng-if="$last">.</span>
            </span>
          </p>
        </div>


        <div ng-if="message.errors.length">
          <h5>Errors</h5>
            <p ng-if="message.errors.length === 1">
              Error retrieving the <strong class="data">{{message.errors[0]}}</strong> analysis.
            </p>
            <p ng-if="message.errors.length > 1">
              Error retrieving the
              <span ng-repeat="error in message.errors track by $index">
                <span ng-if="$last">and</span>
                <strong class="data">{{error}}</strong>
                <span class="comma-period" ng-if="!$last">,</span>
              </span>
              analyses.
            </p>
        </div>

      </div>


    </div>


  </div>



  <div id="input-container">
    <form>
      <input type="text" ng-model="text"/>
      <button type="submit" ng-click="chat()">Send</button>
    </form>
  </div>


</div>
