
@import url(https://fonts.googleapis.com/css?family=Montserrat:normal,bolder);

@import './about.scss';
@import './chat.scss';

* {
    font-family: 'Montserrat', sans-serif;
}

#app {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 10px;
  right: 10px;
}

html, body {
  height: 100%;
  margin: 0;
}
