.navbar.navbar-default {

  background-color: #598bdc;
  border-color: #598bdc;
  border-radius: 0;
  box-shadow: 0px 5px 10px #bdbdbd;

  a, li > a {
    color: #d4d4d4;

    &:hover {
      color: #5e5e5e;
    }
  }

  .navbar-header .navbar-toggle:hover {
      background-color: #598bdc;
  }
  .navbar-header .navbar-toggle .icon-bar {
      background-color: #d4d4d4;
  }

  #brand-extension {

    font-size: 14px;
    color: #d4d4d4;

    &:hover {
      color: #d4d4d4;
    }

  }
<<<<<<< HEAD:src/client/style/nav.scss
=======

  .nav.navbar-nav.navbar-right {
    text-align: center;
  }


>>>>>>> master:src/public/style/style.scss
}
