
#nav-container {

  #nav {

    background-color: #598bdc;
    box-shadow: 0px 5px 10px #bdbdbd;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    #nav-brand-outer-container {

      display: inline-block;
      height: 100%;

      #nav-brand-inner-container {

        margin-top: 14px;
        margin-left: 14px;

        #nav-brand {
          display: inline;
          margin-right: 15px;
          a {
            color: #d4d4d4;
            text-decoration: none;
            &:hover {
              color: #5e5e5e;
              text-decoration: none;
            }
          }
        }

        #nav-brand-extension {

          @media only screen and (max-width: 449px){
            display: none;
          }
          display: inline;
          position: relative;
          bottom: 2px;
          color: #d4d4d4;
        }

      }

    }

    #nav-item-container {

      display: inline-block;
      height: 100%;
      float: right;
      margin-right: 10px;

      .nav-item {
        display: inline-block;
        margin-top: 5px;
        margin-right: 18px;
        a {
          text-decoration: none;
          color: #d4d4d4;
          &:hover {
            color: #5e5e5e;
            text-decoration: none;
          }
        }

        &#nav-item-about {
          @media only screen and (max-width: 499px){
            display: none;
          }
        }
      }

    }

  }

}
