[Unit]
Description=PM2 process manager
Documentation=https://pm2.keymetrics.io/
After=network.target

[Service]
User=ubuntu
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TimeoutStartSec=8
Environment=PATH=/home/ubuntu/.nvm/versions/node/v7.2.1/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=PM2_HOME=/home/ubuntu/.pm2
Restart=always
RestartSec=3

ExecStart=/home/ubuntu/.nvm/versions/node/v7.2.1/lib/node_modules/pm2/bin/pm2 resurrect --no-daemon
ExecReload=/home/ubuntu/.nvm/versions/node/v7.2.1/lib/node_modules/pm2/bin/pm2 reload all
ExecStop=/home/ubuntu/.nvm/versions/node/v7.2.1/lib/node_modules/pm2/bin/pm2 kill

[Install]
WantedBy=multi-user.target
